<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head"></head>

<body class="bg-gray-100 flex flex-col min-h-screen">
<!-- Navbar -->
<nav th:replace="fragments/navbar :: navbar"></nav>

<!-- Contenido principal -->
<main class="flex-grow">
    <div class="container mx-auto p-6 bg-white shadow-md rounded-lg mt-4">
        <h1 class="text-4xl font-bold text-center text-gray-700 mb-6">Gestión de Padres</h1>
        <p class="text-center text-gray-600 mb-8">Aquí puedes agregar, editar o inactivar Padres.</p>

        <!-- Botón para agregar un parents -->
        <div class="mb-4 flex justify-end">
            <button
                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
                    onclick="modalRegistroPadres()">
                Agregar Padres
            </button>
        </div>

        <!-- Tabla de parents -->
        <div class="overflow-x-auto">
            <table class="table-auto w-full text-left bg-gray-100 rounded-lg">
                <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">

                    <th class="py-3 px-6">TIPO DOC</th>
                    <th class="py-3 px-6">DNI</th>
                    <th class="py-3 px-6">Nombre</th>
                    <th class="py-3 px-6">Apellido Paterno</th>
                    <th class="py-3 px-6">Apellido Materno</th>
                    <th class="py-3 px-6"></th>
                </tr>
                </thead>
                <tbody>
                <!-- Ejemplo de iteración Thymeleaf -->
                <tr th:each="parent : ${parents}" class="border-b border-gray-200 hover:bg-gray-100">

                    <td class="py-3 px-6" th:text="${parent.tipoDocDescrption}"></td>
                    <td class="py-3 px-6" th:text="${parent.num_doc}"></td>
                    <td class="py-3 px-6" th:text="${parent.nombre}"></td>
                    <td class="py-3 px-6" th:text="${parent.apellido_paterno}"></td>
                    <td class="py-3 px-6" th:text="${parent.apellido_materno}"></td>
                    <td class="py-3 px-6">
                        <div class="flex space-x-2">
<!--                                    th:onclick="'window.location.href=\'/students/edit/' + ${student.id}'">-->
                                <a href="javascript:void(0);"
                                   th:onclick="'abrirModalParentEdit(' + ${parent.idParent}+ ')'"
                                   class="text-sm bg-sky-600 hover:bg-sky-400 text-white font-bold py-2 px-4 rounded-md transition-colors duration-200">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>

<!--                            &lt;!&ndash; Botón para inactivar &ndash;&gt;-->
<!--                            <form th:action="@{/students/inactivate/{id}(id=${student.id})}" method="post">-->
<!--                                <button-->
<!--                                        type="submit"-->
<!--                                        class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-2 rounded">-->
<!--                                    Inactivar-->
<!--                                </button>-->
<!--                            </form>-->
                        </div>
                    </td>
                </tr>
                <!-- Mostrar mensaje si no hay estudiantes -->
                <tr th:if="${#lists.isEmpty(parents)}">
                    <td colspan="5" class="text-center text-gray-500 py-4">No existe registros.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="fixed inset-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-50 hidden" id="modalParents"
         role="dialog" aria-hidden="true">
        <div class="bg-white rounded-lg shadow-lg max-w-md w-full mx-4">


            <!-- Modal Body -->
            <div id="modalParentsContent" class="px-4 py-3">
                <!-- Aquí se cargará el contenido dinámico -->
            </div>

        </div>
    </div>
    <!--Fin  Modal -->
</main>
<script th:src="@{/js/admin/parents.js}"></script>
<!-- Footer -->
<footer th:replace="fragments/footer :: footer" class="bg-gray-800 text-white py-4"></footer>
</body>
</html>
