<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link th:href="@{/css/output.css}" rel="stylesheet">
</head>
<body>
<!-- Navbar -->
<nav th:fragment="navbar" class="bg-gray-50 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Imagen del logo a la izquierda -->
        <div class="flex items-center">
            <a th:href="@{/home}">
                <img th:src="@{/img/img.png}" alt="Logo" class="mr-3" style="height: 60px; width: 60px;"></a> <!-- Cambia "logo.png" por la ruta a tu logo -->
            <h2 class="text-3xl font-bold text-center text-gray-700">Colegio SAM - Pagos</h2>

        </div>

        <!-- Enlaces de navegación -->
        <div   class="hidden md:flex space-x-6">
            <a th:href="@{/home}" class="text-black hover:text-gray-300">Inicio</a>
        </div>

        <!-- Enlaces de navegación -->
        <div sec:authorize="hasAuthority('ADMIN')"  class="hidden md:flex space-x-6">
            <a th:href="@{/admin}" class="text-black hover:text-gray-300">Panel Administrador</a>
        </div>

        <!-- Enlaces de navegación -->
        <div sec:authorize="hasAuthority('ADMIN')" class="hidden md:flex space-x-6">
            <a th:href="@{/admin}" class="text-black hover:text-gray-300">Reportes</a>
        </div>

        <!-- Usuario logueado -->
        <!-- Contenedor del usuario logueado -->
        <div class="relative">
            <!-- Imagen y Nombre del Usuario -->
            <div class="flex items-center space-x-3 cursor-pointer" onclick="toggleMenu()">
                <img th:src="@{/img/people.png}" alt="Usuario" class="h-8 w-8 rounded-full">
                <span class="text-black font-medium" sec:authentication="name"></span>
            </div>

<!--            &lt;!&ndash; Menú desplegable &ndash;&gt;
            <div id="userMenu" class="hidden absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg py-2">
                <div class="px-4 py-2">
                    <p class="text-sm font-bold text-gray-500">Usuario</p>
                    <p class="text-xs text-gray-500" sec:authentication="name"></p>
                    <p class="text-sm font-bold text-gray-500">Rol</p>
                    <p class="text-xs text-gray-500" sec:authentication="principal.authorities"></p>
                </div>
                <div class="border-t border-gray-200"></div>
                <div class="px-4 py-2 flex justify-between space-x-2">
                    &lt;!&ndash; Botón Configuración &ndash;&gt;
                    <button class="text-blue-600 hover:text-blue-800 font-medium">Ajustes</button>

                    &lt;!&ndash; Botón Cerrar Sesión &ndash;&gt;
                    <form id="logoutForm" th:action="@{/logout}" method="post">
                        <button class="text-red-600 hover:text-red-800 font-medium" type="submit" onclick="document.getElementById('logoutForm').submit();">Cerrar Sesión</button>
                        &lt;!&ndash;                            <input type="hidden"  id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>&ndash;&gt;
                    </form>
                </div>

            </div>-->
            <div id="userMenu" class="hidden absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg py-2">
                <div class="px-4 py-2 text-gray-700">
                    <p class="text-sm font-bold">Usuario: <span sec:authentication="name"></span></p>
                    <p class="text-xs">Rol: <span sec:authentication="principal.authorities"></span></p>
                </div>
                <div class="border-t border-gray-200"></div>
                <a th:href="@{/perfil}" class="block px-4 py-2 text-gray-600 hover:bg-gray-100">Perfil</a>
                <a th:href="@{/soporte}" class="block px-4 py-2 text-gray-600 hover:bg-gray-100">Ayuda</a>
                <form th:action="@{/logout}" method="post" class="block px-4 py-2 text-red-600 hover:bg-gray-100">
                    <button type="submit">Cerrar Sesión</button>
                </form>
            </div>

        </div>
    </div>
</nav>
</body>
</html>
