<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/head :: head"></head>

<body class="bg-gray-100 flex flex-col min-h-screen">
<!-- Navbar -->
<nav th:replace="fragments/navbar :: navbar"></nav>

<!-- Contenido principal -->
<main class="flex-grow">
    <div class="container mx-auto p-6 bg-white shadow-md rounded-lg mt-4">
        <h1 class="text-4xl font-bold text-center text-gray-700 mb-6"
            th:text="'¡Bienvenido, ' + ${nombreUsuario} + '! al Sistema de Pagos SAM!'">
        </h1>

        <p class="text-center text-gray-600 mb-8">Aquí podrás gestionar y realizar los pagos escolares de manera segura y eficiente.</p>

        <!-- Tarjetas de navegación a las funcionalidades -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <!-- Tarjeta 1 -->
            <div class="bg-blue-100 p-4 rounded-lg shadow hover:shadow-lg transition duration-300">
                <h2 class="text-xl font-bold text-blue-600">Realizar un Pago</h2>
                <p class="text-gray-600">Accede a la sección de pagos para abonar las cuotas escolares.</p>
                <a th:href="@{/pagos}" class="text-blue-500 hover:underline mt-2 inline-block">Ir a Pagos →</a>
            </div>

            <!-- Tarjeta 2 -->
            <div class="bg-green-100 p-4 rounded-lg shadow hover:shadow-lg transition duration-300">
                <h2 class="text-xl font-bold text-green-600">Historial de Pagos</h2>
                <p class="text-gray-600">Consulta los pagos realizados por los alumnos.</p>
                <a th:href="@{/historial}" class="text-green-500 hover:underline mt-2 inline-block">Ver Historial →</a>
            </div>

            <!-- Tarjeta 3 -->
            <div  sec:authorize="hasAuthority('ADMIN')" class="bg-yellow-100 p-4 rounded-lg shadow hover:shadow-lg transition duration-300">
                <h2 class="text-xl font-bold text-yellow-600">Reportes</h2>
                <p class="text-gray-600">Genera reportes detallados sobre los pagos escolares.</p>
                <a th:href="@{/reportes}" class="text-yellow-500 hover:underline mt-2 inline-block">Ir a Reportes →</a>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<footer th:replace="fragments/footer :: footer" class="bg-gray-800 text-white py-4"></footer>
</body>
</html>
